In [46]:
import pandas as pd
pd.options.display.max_rows = None

In [47]:
data = pd.read_csv('test_results.csv')
data.head()

,Date,Distance,Event / Venue,Joggler,Gender,Nationality,Finish Time,Drops,Notes / Result Links
0,23/05/2022,3b Mile,Time Trial,Henry Wellenstein,M,USA,00:04:39,0,NaN
1,01/02/2003,3b Mile,"Atlanta, Georgia",Will Howard,M,USA,00:04:42,?,http://www.atlantajugglers.org/aja-media/artic...
2,08/05/2018,3b Mile,Time Trial,Zach Prescott,M,USA,00:04:43,?,https://www.runnersworld.com/runners-stories/a...
3,1986,3b Mile,"IJA, San Jose",Kirk Swenson,M,USA,00:04:43,1,http://www.juggling.org/orgs/ija/champs.txt ht...
4,1985,3b Mile,"IJA, Atlanta",Kirk Swenson,M,USA,00:04:47,?,http://www.juggling.org/orgs/ija/champs.txt

In [48]:
def all_time_list(distance):
    fastest_times = data[data['Distance']==distance][['Joggler','Finish Time']].groupby(['Joggler']).min().reset_index()
    fastest_times = fastest_times.merge(data,how='left',left_on=['Joggler','Finish Time'],right_on=['Joggler','Finish Time'])
    fastest_times['Ranking'] = pd.to_numeric(fastest_times['Finish Time'].rank(method="min")).astype(int)
    fastest_times['Nationality'].replace({0,'Unknown'})
    fastest_times = fastest_times[['Ranking','Joggler','Gender','Nationality','Date','Event / Venue','Finish Time']].sort_values('Ranking').reset_index(drop=True)
    return fastest_times

all_time_list('5b Mile')

,Ranking,Joggler,Gender,Nationality,Date,Event / Venue,Finish Time
0,1,Matthew Feldman,M,USA,27/07/2012,Time Trial,00:06:33
1,2,Billy Gillen,M,USA,1989,Time Trial,00:07:41
2,3,Ben Schoenberg,M,0,1996,"IJA, Rapid City",00:10:36
3,4,Barry Goldmeier,M,USA,1996,"IJA, Rapid City",00:10:37

In [43]:
data['Distance'].value_counts()

3b 5km              276
3b Marathon         186
3b Mile              98
3b Half Marathon     39
3b 10km              24
5b 5km                6
5b Mile               4
3b 10 Mile            4
5b Marathon           3
3b 30km               2
4b 10km               1
3b 15km               1
3b 50km               1
Name: Distance, dtype: int64

In [44]:
data[data['Distance']=='5b Mile ']

,Date,Distance,Event / Venue,Joggler,Gender,Nationality,Finish Time,Drops,Notes / Result Links
59,27/07/2012,5b Mile,Time Trial,Matthew Feldman,M,USA,00:06:33,?,NaN
78,1989,5b Mile,Time Trial,Billy Gillen,M,USA,00:07:41,?,https://www.dev.juggle.org/history/archives/ju...
96,1996,5b Mile,"IJA, Rapid City",Ben Schoenberg,M,0,00:10:36,?,http://www.juggling.org/orgs/ija/champs.txt
97,1996,5b Mile,"IJA, Rapid City",Barry Goldmeier,M,USA,00:10:37,?,http://www.juggling.org/orgs/ija/champs.txt

In [41]:
fastest_times = data[data['Distance']=='5b Mile'][['Joggler','Finish Time']].groupby(['Joggler']).min().reset_index()
fastest_times

Empty DataFrame
Columns: [Joggler, Finish Time]
Index: []