In this notebook:
- Convert the IAAF points tables to tidy pandas dataframe.
- Will use this to add a view of the comparative strengths of the various joggling records.
- Note that this will not fill the gap of comparing records across different props (e.g. 3b vs, 5b)

In [1]:
import pandas as pd
import re
import numpy as np

## PyPDF2

In [7]:
from PyPDF2 import PdfReader
reader = PdfReader('points_data_pdf.pdf')

In [226]:
len(reader.pages)

# M Sprints 9-36
# M Middle Distance 39-66
# M Long Distance 69-96
# M Road Running 99-126

# W Sprints 189-216
# W Middle Distance 219-246
# W Long Distance 249-276
# W Road Running 279-306

# Example String:
reader.pages[189].extract_text()

'WOMEN’S SPRINTS, HURDLES AND RELAYS / FEMMES SPRINTS, HAIES ET RELAIS \n182  Points 100m 100mH 200m 300m 400m 400mH 4x100m 4x200m 4x400m  1400 10.12 11.24 20.51 32.27 45.35 48.07 38.04 1:19.29 3:00.61  1399  - 11.25 20.52 32.29 45.37 48.09 38.06 1:19.34 3:00.72  1398  -  -  - 32.31 45.40 48.12 38.08 1:19.39 3:00.83  1397 10.13 11.26 20.53 32.32 45.42 48.15 38.11 1:19.43 3:00.94  1396  - 11.27 20.54 32.34 45.44 48.18 38.13 1:19.48 3:01.04  1395 10.14  - 20.55 32.35 45.46 48.21 38.15 1:19.53 3:01.15  1394  - 11.28 20.56 32.37 45.49 48.24 38.17 1:19.58 3:01.26  1393  - 11.29 20.57 32.39 45.51 48.27 38.19 1:19.62 3:01.36  1392 10.15  - 20.58 32.40 45.53 48.30 38.21 1:19.67 3:01.47  1391  - 11.30 20.59 32.42 45.56 48.33 38.24 1:19.72 3:01.58  1390 10.16 11.31 20.60 32.43 45.58 48.36 38.26 1:19.77 3:01.69  1389  -  -  - 32.45 45.60 48.39 38.28 1:19.81 3:01.79  1388 10.17 11.32 20.61 32.47 45.63 48.42 38.30 1:19.86 3:01.90  1387  - 11.33 20.62 32.48 45.65 48.45 38.32 1:19.91 3:02.01  1386  -  - 20.63 32.50 45.67 48.48 38.34 1:19.96 3:02.12  1385 10.18 11.34 20.64 32.51 45.70 48.51 38.36 1:20.00 3:02.22  1384  - 11.35 20.65 32.53 45.72 48.53 38.39 1:20.05 3:02.33  1383 10.19  - 20.66 32.55 45.74 48.56 38.41 1:20.10 3:02.44  1382  - 11.36 20.67 32.56 45.77 48.59 38.43 1:20.15 3:02.55  1381 10.20 11.37 20.68 32.58 45.79 48.62 38.45 1:20.20 3:02.65  1380  -  - 20.69 32.59 45.81 48.65 38.47 1:20.24 3:02.76  1379  - 11.38  - 32.61 45.84 48.68 38.49 1:20.29 3:02.87  1378 10.21 11.39 20.70 32.63 45.86 48.71 38.52 1:20.34 3:02.98  1377  -  - 20.71 32.64 45.88 48.74 38.54 1:20.39 3:03.08  1376 10.22 11.40 20.72 32.66 45.91 48.77 38.56 1:20.43 3:03.19  1375  - 11.41 20.73 32.67 45.93 48.80 38.58 1:20.48 3:03.30  1374 10.23  - 20.74 32.69 45.95 48.83 38.60 1:20.53 3:03.41  1373  - 11.42 20.75 32.71 45.98 48.86 38.62 1:20.58 3:03.52  1372  - 11.43 20.76 32.72 46.00 48.89 38.64 1:20.63 3:03.62  1371 10.24 11.44 20.77 32.74 46.02 48.92 38.67 1:20.67 3:03.73  1370  -  - 20.78 32.76 46.05 48.95 38.69 1:20.72 3:03.84  1369 10.25 11.45  - 32.77 46.07 48.98 38.71 1:20.77 3:03.95  1368  - 11.46 20.79 32.79 46.09 49.01 38.73 1:20.82 3:04.06  1367 10.26  - 20.80 32.80 46.12 49.04 38.75 1:20.87 3:04.16  1366  - 11.47 20.81 32.82 46.14 49.07 38.77 1:20.91 3:04.27  1365  - 11.48 20.82 32.84 46.16 49.10 38.80 1:20.96 3:04.38  1364 10.27  - 20.83 32.85 46.19 49.13 38.82 1:21.01 3:04.49  1363  - 11.49 20.84 32.87 46.21 49.16 38.84 1:21.06 3:04.60  1362 10.28 11.50 20.85 32.88 46.23 49.18 38.86 1:21.11 3:04.71  1361  -  - 20.86 32.90 46.26 49.21 38.88 1:21.15 3:04.81  1360 10.29 11.51 20.87 32.92 46.28 49.24 38.90 1:21.20 3:04.92  1359  - 11.52  - 32.93 46.30 49.27 38.93 1:21.25 3:05.03  1358  -  - 20.88 32.95 46.33 49.30 38.95 1:21.30 3:05.14  1357 10.30 11.53 20.89 32.97 46.35 49.33 38.97 1:21.35 3:05.25  1356  - 11.54 20.90 32.98 46.37 49.36 38.99 1:21.39 3:05.36  1355 10.31  - 20.91 33.00 46.40 49.39 39.01 1:21.44 3:05.47  1354  - 11.55 20.92 33.01 46.42 49.42 39.04 1:21.49 3:05.57  1353 10.32 11.56 20.93 33.03 46.44 49.45 39.06 1:21.54 3:05.68  1352  -  - 20.94 33.05 46.47 49.48 39.08 1:21.59 3:05.79  1351  - 11.57 20.95 33.06 46.49 49.51 39.10 1:21.64 3:05.90 '

### Sprints

In [176]:
sprints = ['100m', '110mH', '200m', '300m', '400m', '400mH', '4x100m', '4x200m', '4x400m',]

In [192]:
def even_sprint_formatting(extracted_text, sprints):
    points = extracted_text.splitlines()[1].replace(' Points ',' Points  ').split(' Points  ')[1].replace(' - ','- ')
    points = re.split(' [0-9]{1,4} ',points)
    points_df = pd.DataFrame(columns = sprints, data=[['-'] + row.split() if len(row.split())==8 else row.split() for row in points[0:]]).replace('-',np.nan)
    return points_df

def odd_sprint_formatting(extracted_text,sprints):
    points = extracted_text.splitlines()[1].replace(' Points ',' Points  ').split(' Points  ')[1].replace(' - ','- ')
    points = re.split(' [0-9]{1,4} ',points)
    points_df = pd.DataFrame(columns = sprints, data=[['-'] + row.split() if len(row.split())==8 else row.split() for row in points[0:]]).replace('-',np.nan)
    return points_df

In [227]:
full_df = pd.DataFrame()

for i in range(189,217):  # M:(9,37) , W:(189,217)
    print(f'Formatting page {i}')
    page = reader.pages[i] 
    extracted_text = page.extract_text()
    if i%2 == 0: # even
        points_df = even_sprint_formatting(extracted_text,sprints)
    else:
        points_df = odd_sprint_formatting(extracted_text,sprints)

    full_df = pd.concat([full_df,points_df])


# Remove filler rows
full_df = full_df[full_df['100m']!='100m']
full_df = full_df[~full_df.isnull().all(1)]
full_df['Points'] = np.linspace(1400,1,1400).astype(int)
full_df

Formatting page 189
Formatting page 190
Formatting page 191
Formatting page 192
Formatting page 193
Formatting page 194
Formatting page 195
Formatting page 196
Formatting page 197
Formatting page 198
Formatting page 199
Formatting page 200
Formatting page 201
Formatting page 202
Formatting page 203
Formatting page 204
Formatting page 205
Formatting page 206
Formatting page 207
Formatting page 208
Formatting page 209
Formatting page 210
Formatting page 211
Formatting page 212
Formatting page 213
Formatting page 214
Formatting page 215
Formatting page 216

,100m,110mH,200m,300m,400m,400mH,4x100m,4x200m,4x400m,Points
1,10.12,11.24,20.51,32.27,45.35,48.07,38.04,1:19.29,3:00.61,1400
2,NaN,11.25,20.52,32.29,45.37,48.09,38.06,1:19.34,3:00.72,1399
3,NaN,NaN,NaN,32.31,45.40,48.12,38.08,1:19.39,3:00.83,1398
4,10.13,11.26,20.53,32.32,45.42,48.15,38.11,1:19.43,3:00.94,1397
5,NaN,11.27,20.54,32.34,45.44,48.18,38.13,1:19.48,3:01.04,1396
...,...,...,...,...,...,...,...,...,...,...
45,21.29,28.87,44.00,1:14.32,1:46.13,2:05.10,1:34.41,3:24.06,7:42.10,5
46,21.36,28.99,44.16,1:14.60,1:46.54,2:05.62,1:34.79,3:24.90,7:43.99,4
47,21.45,29.13,44.34,1:14.92,1:47.00,2:06.20,1:35.22,3:25.85,7:46.14,3
48,21.55,29.29,44.55,1:15.30,1:47.55,2:06.90,1:35.73,3:26.98,7:48.68,2
49,21.68,29.49,44.83,1:15.80,1:48.27,2:07.81,1:36.39,3:28.45,7:51.99,1

In [228]:
# full_df.to_csv('IAAF_W_Sprints.csv',index=False)
# df = pd.read_csv('IAAF_W_Sprints.csv')
# df

## Middle Distance

## Long Distance

## Road Running

In [ ]:
page = reader.pages[100] # 99
extracted_text = page.extract_text()

extracted_text

In [124]:
events_odd = ['points', '10km','15km','10 Miles','20km', 'Half Marathon','25km','30km','Marathon','100km']
events_even = ['10km','15km','10 Miles','20km', 'Half Marathon','25km','30km','Marathon','100km', 'points']

In [127]:
# For 'even' page numbers
points = extracted_text.splitlines()[1].split(' Points  ')[1].replace(' - ','- ')
points = re.split('  ',points)
points

points_df = pd.DataFrame(columns=events_even, data=[row.split() for row in points[0:]]).replace('-',np.nan)
points_df

,10km,15km,10 Miles,20km,Half Marathon,25km,30km,Marathon,100km,points
0,NaN,39:29,42:30,53:18,56:21,1:07:48,1:22:42,1:59:52,5:49:03,1350
1,25:52,39:30,42:31,53:19,56:23,1:07:50,1:22:44,1:59:55,5:49:13,1349
2,NaN,39:31,42:32,53:20,56:24,1:07:52,1:22:46,1:59:59,5:49:24,1348
3,25:53,NaN,42:33,53:22,56:26,1:07:53,1:22:48,2:00:02,5:49:34,1347
4,NaN,39:32,42:34,53:23,56:27,1:07:55,1:22:50,2:00:05,5:49:44,1346
5,25:54,39:33,42:35,53:24,56:28,1:07:57,1:22:52,2:00:08,5:49:54,1345
6,25:55,39:34,42:36,53:25,56:30,1:07:58,1:22:54,2:00:11,5:50:05,1344
7,NaN,39:35,42:37,53:27,56:31,1:08:00,1:22:56,2:00:14,5:50:15,1343
8,25:56,39:36,42:38,53:28,56:32,1:08:02,1:22:58,2:00:17,5:50:25,1342
9,NaN,39:37,42:39,53:29,56:34,1:08:03,1:23:00,2:00:20,5:50:36,1341
10,25:57,39:38,42:40,53:31,56:35,1:08:05,1:23:02,2:00:24,5:50:46,1340
11,25:58,39:39,42:41,53:32,56:36,1:08:07,1:23:04,2:00:27,5:50:56,1339
12,NaN,39:40,42:42,53:33,56:38,1:08:08,1:23:06,2:00:30,5:51:06,1338
13,25:59,39:41,42:43,53:34,56:39,1:08:10,1:23:08,2:00:33,5:51:17,1337
14,NaN,39:42,42:44,53:36,56:40,1:08:12,1:23:11,2:00:36,5:51:27,1336
15,26:00,39:43,42:45,53:37,56:42,1:08:13,1:23:13,2:00:39,5:51:37,1335
16,26:01,39:44,42:46,53:38,56:43,1:08:15,1:23:15,2:00:42,5:51:48,1334
17,NaN,NaN,42:47,53:39,56:44,1:08:17,1:23:17,2:00:45,5:51:58,1333
18,26:02,39:45,42:48,53:41,56:46,1:08:18,1:23:19,2:00:49,5:52:08,1332
19,NaN,39:46,42:49,53:42,56:47,1:08:20,1:23:21,2:00:52,5:52:18,1331
20,26:03,39:47,42:50,53:43,56:49,1:08:22,1:23:23,2:00:55,5:52:29,1330
21,26:04,39:48,42:51,53:45,56:50,1:08:23,1:23:25,2:00:58,5:52:39,1329
22,NaN,39:49,42:52,53:46,56:51,1:08:25,1:23:27,2:01:01,5:52:49,1328
23,26:05,39:50,42:53,53:47,56:53,1:08:27,1:23:29,2:01:04,5:53:00,1327
24,NaN,39:51,42:54,53:48,56:54,1:08:28,1:23:31,2:01:07,5:53:10,1326
25,26:06,39:52,42:55,53:50,56:55,1:08:30,1:23:33,2:01:11,5:53:20,1325
26,26:07,39:53,42:56,53:51,56:57,1:08:32,1:23:35,2:01:14,5:53:31,1324
27,NaN,39:54,42:57,53:52,56:58,1:08:33,1:23:38,2:01:17,5:53:41,1323
28,26:08,39:55,42:58,53:54,56:59,1:08:35,1:23:40,2:01:20,5:53:51,1322
29,NaN,39:56,42:59,53:55,57:01,1:08:37,1:23:42,2:01:23,5:54:02,1321
30,26:09,39:57,43:00,53:56,57:02,1:08:38,1:23:44,2:01:26,5:54:12,1320
31,26:10,39:58,43:01,53:57,57:03,1:08:40,1:23:46,2:01:29,5:54:23,1319
32,NaN,NaN,43:02,53:59,57:05,1:08:42,1:23:48,2:01:33,5:54:33,1318
33,26:11,39:59,43:03,54:00,57:06,1:08:43,1:23:50,2:01:36,5:54:43,1317
34,NaN,40:00,43:04,54:01,57:08,1:08:45,1:23:52,2:01:39,5:54:54,1316
35,26:12,40:01,43:05,54:03,57:09,1:08:47,1:23:54,2:01:42,5:55:04,1315
36,26:13,40:02,43:06,54:04,57:10,1:08:48,1:23:56,2:01:45,5:55:14,1314
37,NaN,40:03,43:07,54:05,57:12,1:08:50,1:23:58,2:01:48,5:55:25,1313
38,26:14,40:04,43:08,54:06,57:13,1:08:52,1:24:00,2:01:51,5:55:35,1312
39,NaN,40:05,43:09,54:08,57:14,1:08:53,1:24:03,2:01:55,5:55:46,1311
40,26:15,40:06,43:10,54:09,57:16,1:08:55,1:24:05,2:01:58,5:55:56,1310
41,26:16,40:07,43:11,54:10,57:17,1:08:57,1:24:07,2:02:01,5:56:06,1309
42,NaN,40:08,43:12,54:12,57:19,1:08:58,1:24:09,2:02:04,5:56:17,1308
43,26:17,40:09,43:13,54:13,57:20,1:09:00,1:24:11,2:02:07,5:56:27,1307
44,NaN,40:10,43:14,54:14,57:21,1:09:02,1:24:13,2:02:10,5:56:38,1306
45,26:18,40:11,43:15,54:15,57:23,1:09:03,1:24:15,2:02:14,5:56:48,1305
46,26:19,40:12,43:16,54:17,57:24,1:09:05,1:24:17,2:02:17,5:56:58,1304
47,NaN,40:13,43:17,54:18,57:25,1:09:07,1:24:19,2:02:20,5:57:09,1303
48,26:20,NaN,43:18,54:19,57:27,1:09:08,1:24:21,2:02:23,5:57:19,1302
49,NaN,40:14,43:19,54:21,57:28,1:09:10,1:24:24,2:02:26,5:57:30,1301

In [128]:
# For odd page numbers
points = extracted_text.splitlines()[1].split(' 100 km  ')[1].replace(' - ','- ') # This works for 'odd' pages
points = re.split('  ',points)
points

points_df = pd.DataFrame(columns=events_odd, data=[row.split() for row in points[0:]]).replace('-',np.nan)
points_df

IndexError: list index out of range

In [16]:
len(reader.pages)

368